@model IEnumerable<Hall_Reservation.Models.User>

@{
    ViewData["Title"] = "Index";
    var user = ViewBag.UserId;
    Layout = "~/Views/Shared/DashboardLayout.cshtml";  

}



<p>
   <button  type="button" class="btn btn-secondary"><a asp-action="Create">Create New User</a></button> 
</p>
<table class="mt-2 table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th scope="col">
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th scope="col">
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th scope="col">
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th scope="col">
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th scope="col">
            <th>
                @Html.DisplayNameFor(model => model.UserImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
              <img src="~/images/@Html.DisplayFor(modelItem => item.UserImage)" class="img-thumbnail max-width: 10%"> 
            </td>
            <td>
                <button  type="button" class="btn btn-primary btn-sm"><a asp-action="Edit" asp-route-id="@item.UserId">Edit</a></button> |
                <button  type="button" class="btn btn-primary btn-sm"><a asp-action="Details" asp-route-id="@item.UserId">Details</a></button> |
                <button  type="button" class="btn btn-primary btn-sm"><a asp-action="Delete" asp-route-id="@item.UserId">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
