@model Hall_Reservation.Models.Visa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisaNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisaNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisaAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisaAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CvcCvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CvcCvv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VisaId">Edit</a> 
</div>
