@model IEnumerable<Hall_Reservation.Models.Visa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisaNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisaAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CvcCvv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisaNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisaAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CvcCvv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VisaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VisaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
