@model IEnumerable<Hall_Reservation.Models.Hall>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";  

}

<h1>Index</h1>

<p>
    <button  type="button" class="btn btn-secondary"><a asp-action="Create">Create New Hall</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HallName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CatId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HallId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HallId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HallId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
